# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django media files
/media/

# Virtualenvs
.env
.venv/
.env.*

# Poetry
poetry.lock

# Docker
*.pid
docker-compose.override.yml

# IDE and editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.junit/

# Migrations (if you don't want to track them during submission, comment this out if migrations are needed)
/**/migrations/
